@font-face {
   font-family: 'GothamBook';
   font-display: swap;
   src: url('file:///C:/Users/jeffe/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-17_102715/fonts/GothamBook/font.ttf');
}
